<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
body {
    margin: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
    $("#meeting").click(function(){
        $("#news").hide();
    });
});
</script>
</head>
<body>

<ul>
  <li><span class="fa fa-user" style="font-size:150px;"></span</li>
  <li><a href="/getMeetings"class="active"><span class="fa fa-calendar " style="font-size:22px;"></span> MY Mettings</a></li>
  <li><a href="/setMeeting" ><span class="fa fa-users" style="font-size:22px;"></span>Schedule Meeting</a></li>
  <li><a href="/logout"><i class="fa fa-sign-out" style="font-size:22px;"></i> Log out</a></li>  
</ul>

<div class="container">
<div id="news" class="col-sm-6 col-sm-offset-3" style="margin-top:80px; margin-left:350px;">
    <h1>Only few API Urls you can use from left side pan :) rest try yourself</h1>
    <hr>
</div>

</div>
</body>
</html>